<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('vendor')
    ->in('./')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2'                               => true,
        '@PSR1'                               => true,
        'array_syntax'                        => ['syntax' => 'short'],
        'native_function_invocation'          => true,
        'no_unused_imports'                   => true,
        'no_useless_else'                     => true,
        'no_useless_return'                   => true,
        'no_whitespace_before_comma_in_array' => true,
        'no_whitespace_in_blank_line'         => true,
        'normalize_index_brace'               => true,
        'ordered_imports'                     => ['imports_order' => ['class', 'const', 'function']],
        'trailing_comma_in_multiline_array'   => true,
        'trim_array_spaces'                   => true,
        'elseif'                              => true,
        'psr4'                                => true,
        'short_scalar_cast'                   => true,
        'single_blank_line_before_namespace'  => true,
        'cast_spaces'                         => ['space' => 'none'],
        'modernize_types_casting'             => true,
        'declare_strict_types'                => true,
        'phpdoc_scalar'                       => true,
        'phpdoc_separation'                   => true,
    ])
    ->setRiskyAllowed(true)
    ->setFinder($finder)
;
